<div style='margin-top:10px;font-size:large;'>
<h5>We need some more details from you to complete your booking. Please fill out the form below:</h5>
<form method='post'>
    <input type='hidden' name='submission' value='1' />
    <table>
    {{#tickets}}
        <tr style='vertical-align:middle;'>
            <th style='font-size:large;'>{{name}}</th>
            <td style='font-weight:bold;'>Gender<td>
            <td><select name='gender_{{key}}' required>
                <option value=''>Please select</option>
                <option value='f'>Female</option>
                <option value='m'>Male</option>
            </select></td>
            {{#age}}<td style='font-weight:bold;'>Age</td>
            <td><input type='number' pattern='d\*'  max='{{maxage}}' min='{{minage}}' size='2' step='1' required name='age_{{key}}'/><td>{{/age}}
            {{^age}}<td style='font-weight:bold;'>Age</td>
            <td>Under 1<input type='hidden' max='{{maxage}}' value='0' name='age_{{key}}'/><td>{{/age}}
        </tr>
    {{/tickets}}
    <tr>
        <td><input type='submit' value='Submit Responses' /></td>
    </tr>
    </table>
</form>
</div>
