.railticket_stageblock {
    border: 1px solid #eeeeee;
    background: #fafafa;
    margin-bottom:10px;
    display: none;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.railticket_stageblock h3 {
    text-align:center;
}

.railticket_container {
    margin-left:auto;
    margin-right:auto;
    width:50%;
    min-width:300px;
    max-width:800px;
    text-align:center;
}

.railticket_datebuttons {
    width:48%;
    text-align:center;
    margin-top:2px;
}

#datechooser {
    margin-top:10px;
    padding-top:2px;
}

#datechosen {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    font-size:x-large;
    font-weight:bold;
    background-color:#f2f0a6;
    color:#880000;
    border: 2px solid #880000;
    border-radius: 4px;
}

.railticket_listselect_left {
    float:left;
    width:50%;
    overflow: hidden;
}

.railticket_listselect_right {
    width:50%;
    overflow: hidden;
}

.railticket_listselect_left .inner {
    margin-left:auto;
    width:100%;

    text-align:center;
}

.railticket_listselect_right .inner {
    width:100%;

    text-align:center;
}

.railticket_fromstation {}

.railticket_tostation {}

.railticket_stationselect {}

.railticket_listselect ul {
    list-style:none;
    margin-left:0px;
}

.railticket_listselect input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.railticket_listselect label {
    font-size:large;
    font-weight:bold;
    width:100%;
    display: inline-block;
    background-color: #880000;
    color:white;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    border: 2px solid #fafafa;
    border-radius: 4px;
}

.railticket_listselect input[disabled] + label {
    background-color:#fafafa;
    color:#aaaaaa;
}

.railticket_listselect input[type="radio"]:checked + label {
    font-weight:bolder;
    background-color:#f2f0a6;
    color:#880000;
    border-color: #880000;
}

.railticket_caplitalise {
    text-transform:capitalize;
}

.railticket_arrtime {
    font-size:small;
}




/* Absolute Center Spinner */
.railticket_loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display:none;
}

/* Transparent Overlay */
.railticket_loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.railticket_loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.railticket_loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;

  border: 15px solid rgba(33, 150, 243, 1.0);
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;


}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
