/* Calendar styles **/

.railticket-calendar-wrapper {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    overflow:auto;
    border:1px solid #eeeeee;
    white-space: nowrap;
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    background: #fafafa;
}

.railticket-calendar-box-wrapper {
    display: inline-block;
    margin:2px;
    vertical-align:top;
}

.railticket-calendar{
    background: #f4f2b3;
    color: #880000;
    table-layout:fixed;
    padding:0px;
    margin:0px;
}


.railticket-calendar-title th {
    font-size: large;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
}

.railticket-calendar-header th {
    padding: 0px;
    text-align: center;
    font-size:large;
}

.railticket-calendar tbody tr td{
    text-align: center;
    vertical-align: top;
}

.railticket-calendar tbody tr td.pad{
    background: rgba(255, 255, 255, 0.5);
    padding:0px;
    line-height:8px;
    font-size:small;
    padding:6px;
}

.railticket-calendar tbody tr td.day {
    padding:0px;
    line-height:8px;
    font-size:large;
    padding:14px;
    background:#eeeeee;
}

.railticket-calendar tbody tr td.today {
    border:1px solid red;
}

.railticket-calendar-special {
    font-weight:bold;
    text-decoration: underline;
}

/** Ticket styles **/

.railticket_stageblock {
    border: 1px solid #eeeeee;
    background: #fafafa;
    margin-bottom:10px;
    display: none;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    overflow-y:hidden;
}

.railticket_stageblock h3 {
    text-align:center;
}

.railticket_container {
    margin-left:auto;
    margin-right:auto;
    min-width:240px;
    max-width:600px;
    text-align:center;
}

.railticket_selector {
    border: 1px solid #eeeeee;
    background: #fafafa;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

.railticket_selector input[type=submit] {
    width:100%;   
}

.railticket_datebuttons {
    width:48%;
    text-align:center;
    margin-top:3px;
    padding-top:1.8em !important;
    padding-bottom:1.8em !important;
}

#datechooser {
    margin-top:10px;
    padding-top:2px;
}

#datechosen {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    font-size:x-large;
    font-weight:bold;
    background-color:#f2f0a6;
    color:#880000;
    border: 2px solid #880000;
    border-radius: 4px;
}



.railticket_container ul {
    margin-left:0px !important;   
}

.railticket_listselect_left {
    float:left;
    width:50%;
    overflow: hidden;
}

.railticket_listselect_right {
    width:50%;
    overflow: hidden;
}

.railticket_listselect_left .inner {
    margin-left:auto;
    width:100%;
    text-align:center;
}

.railticket_listselect_right .inner {
    width:100%;
    text-align:center;
}

.railticket_listselect_left li {
   list-style:none;   
}

.railticket_listselect_right li {
   list-style:none;   
}

.railticket_fromstation {}

.railticket_otherstation {
    font-weight:normal !important;
}

.railticket_tostation {}

.railticket_stationselect {}

.railticket_listselect ul {
    list-style:none;
    margin-left:0px;
}

.railticket_listselect input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.railticket_listselect label {
    font-size:large;
    font-weight:bold;
    width:100%;
    display: inline-block;
    background-color: #880000;
    color:white;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    border: 2px solid #fafafa;
    border-radius: 4px;
}

.railticket_listselect input[disabled] + label {
    background-color:#fafafa;
    color:#aaaaaa;
}

.railticket_disablelabel {
    background-color:#dddddd !important;
    color:#880000 !important;
}

.railticket_listselect input[type="radio"]:checked + label {
    font-weight:bolder;
    background-color:#f2f0a6;
    color:#880000;
    border-color: #880000;
}

.railticket_late {
    background-color:#ff535b !important;
    text-decoration: line-through;
}

.railticket_caplitalise {
    text-transform:capitalize;
}

.railticket_arrtime {
    font-size:small;
}

.railticket_stndesc {
    font-size:x-small;
}

.railticket_travellers_numbers {
    background-color:#f2f0a6;
    text-align:left;
    border: 2px solid #880000;
    margin: 2px;
    border-radius: 4px;
    width:100%;
}

.railticket_image {
    width:150px;
    height:80px;  
}

@media (max-width: 500px) {
    .railticket_image {
        display:none;
    }
}

.railticket_travellers_table_container {
    background-color:#f2f0a6;
    border: 2px solid #880000;
    margin: 2px;
    border-radius: 4px;
    text-align:center;
}

.railticket_travellers_table {
    width:95%;
}

.railticket_travellers_table td {
    background-color:#f2f0a6 !important;
    border:0px;
    vertical-align:middle;
    text-align:center;
}

.railticket_travellers_table td span {
    color:#880000;
    font-size:large;
    font-weight:bold;
}

.railticket_help {
    color:#880000;
    text-align:center;
}

.railicket_selected_service {
    color:#880000;
    text-align:center;
    font-weight:bold;
}

#ticket_summary{
    margin-top:8px;
    overflow: auto;
}

#ticket_capacity{
    margin-top:8px;
    overflow: auto;
    font-size:large;
    color:#880000;
    font-weight:bold;
    display:none;
}

#railticket_error{
    margin-top:8px;
    overflow: auto;
    font-size:large;
    color:#880000;
    font-weight:bold;
    display:none;
}

.railticket_error{
    color:#880000;
    font-weight:bold;
}

.railticket_travellers_numbers label {
    font-size:x-large;
    font-weight:bold;
    color:#880000;
}

.railticket_travellers_numbers span {
    font-size:medium;
    color:#880000;
}

.railticket_travellers_numbers input[type=number] {
    font-size:large;
    color:#880000 !important;
    border: 2px solid #880000 !important;
    border-radius: 4px;
    margin:4px;
}

.railticket_travellers_numbers input[type=text] {
    color:#880000 !important;
    border: 2px solid #880000 !important;
    border-radius: 4px;
    margin:4px;
    background:white;
    font-size:medium;
    padding:3px;
    text-align:center;
}

.railticket_travellers_numbers input[type=button] {
    margin:4px;
    font-size:medium;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:8px;
    padding-right:8px;
    border-radius:4px;
}

#ticket_discountcode .railticket_travellers_numbers {
    text-align:center;
    background:none;
    border:none;
}

#discountvalid {
    font-weight:bold;
}

.railticket_terms {
    font-size:large;
    color:#880000;
    margin:4px;  
    font-weight:bold;
    text-align:center;
}

.ticket_opts_table {
    margin-left:auto !important;
    margin-right:auto !important;
}

.railticket_terms input[type="checkbox"] {
    transform: scale(3);
}

#confirmchoices {
    font-size:x-large;
    width:100%;
    display:none;
}

#addticketstocart {
    font-size:x-large;
    width:100%;
    display:none;
}

.railticket_overridecode {
    font-size:large;
    color:#880000; 
    font-weight:bold;
    display:none;
}

.railticket_overridedesc {
    font-size:small;
    text-align:left;
    margin-left:20px;
}

.railticketwarn {
    padding:4px;
    font-size:large;
    color:#ffff; 
    background-color:#ee0000;
    font-weight:bold;
}

.railticketinfo {
    padding:4px;
    font-size:normal;
    color:#f2f0a6; 
    background-color:#880000;
    font-weight:bold;
}

.railticket_processing {
    padding:4px;
    font-size:x-large;
    color:#880000;
    background-color:#f2f0a6;
    font-weight:bold;
    display:none;
    text-align:center;
}


/* Force Chrome to show the up/down number buttons */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}


/* Absolute Center Spinner */
.railticket_loading {
  position: absolute;
  z-index: 999;
  margin-top: 0px;
  margin-left:auto;
  margin-right:auto;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display:none;
}

/* Transparent Overlay */
.railticket_loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.railticket_loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.railticket_loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;

  border: 15px solid rgba(33, 150, 243, 1.0);
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;


}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** Editor styles **/

.railticket_inlinedeplist ul li{
    display:inline-block;
}

.railticket_inlinedeplist input[type="submit"] {
    font-size:xx-large;
}

.railticket_editdate {
    margin-left:auto;
    margin-right:auto;
    font-size:large;
}

.railticket_editdate td select {
    font-size:x-large;
}

.railticket_editdate input[type="submit"] {
    font-size:x-large;
}

.railticket_editdate input[type="number"] {
    font-size:x-large;
}

.railticket_trainbookings {
    font-size:large;
    text-align:center;
}

.railticket_trainbookings td {
    font-size:x-large;
    text-align:center;
    line-height:36px;
}

.railticket_trainbookings input[type="submit"] {
    font-size:xx-large;
}


.railticket_shortsummary {
    font-size:large;
}

#addtocart_button {
    width:100%;
}

.railticket_meta {
    font-size:large;
    text-align:left;
}

.railticket_admintable {
    border-collapse:collapse;
    background:#ffffff;
}

.railticket_times_table {
    border-collapse:collapse;
    margin-left:auto !important;
    margin-right:auto !important;
}

/* Stop iOS trying to override form styles */

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

.railticket-dimmer {
    background:#dddddd !important;
    color:#cccccc !important;
}

.railticket-discountsel {
    border-color: #880000;   
}

.railticket_travellers_discount {
    font-style:italic !important;
    font-weight:bold !important;
}

.railticket_times_table td {
    padding:0.15em !important;
}

.railticket_collected {
    background:green;
    color:white;
}

.railticket_highlightleg {
    background:#f2f0a6;
    opacity:0.9;
    border-radius: 4px;
}

.railticket_highlightleg_text {
     display:none;
     text-align:center;
     font-weight:bold;
     margin-top:0px;
     border:5px dotted #880000;
     line-height:1;
     padding-bottom:4px;
}

.railticket_highlightleg_text span {
    font-size:xx-large;
}
