{{#codes}}
<div style="break-inside: avoid;">
<table><tr>
  <td>{{{image}}}</td>
  <td><h2>{{title}}</h2></td>
</tr></table>
<h3>{{name}}</h3>
<p>{{comment}}</p>
<p>Please use the code below in our booking system:</p>
<p style="font-size:large;font-weight:bold;">{{.}}</p>
<p> Valid from {{start}} to {{end}}</p>
<p>{{url}}/book</p>
<hr />
</div>
{{/codes}} 
