<h1>Editing Bookable Day: {{dateformatted}}</h1>
<form method='post' action='{{adminurl}}' name='bookableday'>
<input type='hidden' name='date' value='{{date}}' />
<input type='hidden' name='id' value='{{id}}' />
<input type='hidden' name='action' value='railticket-editbookableday' />
<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;'>
    <tr>
        <td>Timetable</td>
        <!--<td style='color:#{{ttcolour}};background:#{{ttbackground}};font-weight:bold;'>{{timetable}}</td>-->
        <td>
            <select name='timetable' {{disabled}}>
            {{# timetables }}
                <option value='{{ttid}}' {{selected}}>{{name}}</option>    
            {{/ timetables }}
            </select> <span style='font-size:small'>{{locknote}}</span>
        </td>
    </tr><tr>
        <td>Timetable Revision</td>
        <td>
            <select name='ttrevision' {{disabled}}>
            {{# ttrevs }}
                <option value='{{id}}' {{selected}}>{{name}}</option>    
            {{/ ttrevs }}
            </select> <span style='font-size:small'>{{locknote}}</span>
        </td>
    </tr><tr>
        <td>Fares Revision</td>
        <td>
            <select name='pricerevision' {{disabled}}>
            {{# fares }}
                <option value='{{value}}' {{selected}}>{{name}}</option>    
            {{/ fares }}
            </select> <span style='font-size:small'>{{locknote}}</span>
        </td>
    </tr><tr>
        <td>Bookable</td>
        <td><input type='checkbox' name='bookable' value='1' {{bookable}} /></td>
    </tr><tr>
        <td>Sell Reserve</td>
        <td><input type='checkbox' name='sellreserve' value='1' {{sellreserve}} /></td>
    </tr><tr>
        <td>Same Service Return</td>
        <td><input type='checkbox' name='sameservicereturn' value='1' {{sameservicereturn}} /></td>
    </tr><tr>
        <td>Only Sell Specials</td>
        <td><input type='checkbox' name='specialonly' value='1' {{specialonly}} /></td>
    </tr><tr>
        <td>Sold Out</td>
        <td><input type='checkbox' name='soldout' value='1' {{soldout}} /></td>
    </tr><tr>
        <td>Override Code</td>
        <td><input type='text' name='override' value='{{override}}' /></td>
    </tr>
</table>

<script type='text/javascript'>
// Service parameters

var coaches = {{{coaches}}};
var dep_times_up = {{{dep_times_up}}};
var dep_times_down = {{{dep_times_down}}};
var data = {{{composition}}};
var specials = {{{specials}}};

// This may be configurable in the future, hard-wire for now since it isn't.
var baytypes = {
    'priority': 'Disabled',
    'normal': 'Normal'
};

var daytypes = {
    'simple': 'Simple',
    'pertrain': 'Per Train'
}

var allocateby = {
    'seat' : 'Seat',
    'bay' : 'Bay'
};

</script>
<div id='railticket_serviceeditor_sp'></div>
<div id='railticket_serviceeditor_c'></div>
<div id='railticket_serviceeditor_a'></div>

<div id='composition-edit'></div>
<p style='font-size:large;font-weight:bold'><input type='submit' value='Save Bookable Day Settings' style='padding-left:0px;padding-right:0px;'/></p>
<br /><br />
<div id='railticket_serviceeditor_data'></div>
</form>
<br />
<p><form action='{{actionurl}}' method='post'>
    <input type='hidden' name='date' value='{{date}}' />
    <input type='hidden' name='action' value='deletebookable' />
    <input type='submit' value='Delete Bookable Day' style='padding-left:0px;padding-right:0px;' {{disabled}} /><br />
    I really want to delete this! <input type='checkbox' name='sure' value='true' {{disabled}} />
</form></p>
