<script id="composition_tmpl" type="x-tmpl-mustache">
<table>
    <tr><th>Qty</th><td></td><th>Seats</th><th>Disabled Bay</th></tr>
    {{#bays}}
    <tr>
        <td><input type='number' min='0' max='99' size='2'  value='{{quantity}}' name='quantity_{{id}}_{{byid}}' class='railticket-bay' /></td>
        <td>X</td>
        <td><input type='number' min='1' max='99' size='2' value='{{baysize}}' name='baysize_{{id}}_{{byid}}' class='railticket-bay' /></td>
        <td style='text-align:center'><input type='checkbox' value='1' name='priority_{{id}}_{{byid}}' {{priority}} class='railticket-baycb' /></td>
    </tr>
    {{/bays}}
    <tr>
        <td colspan='4'><div style='color:red;font-weight:bold;' id='bayerror_{{id}}'></div></td>
    </tr><tr>
        <td colspan='4' style='text-align:right'><input type='button' name='add_{{id}}' value='Add Bay Type' class='railticket-addbtn' /></td>
    </tr>
</table>
</script>
