<form action='{{actionurl}}' method='post'>
    <input type='hidden' name='action' value='{{action}}' />
    <input type='hidden' name='orderid' value='{{orderid}}' />
    <input type='hidden' name='bookingid' value='{{bookingid}}' />
    <input type='hidden' name='returnto' value='{{returnto}}' />
    <input type='submit' value='{{actionstr}}' />
</form>
