<div class='railticket_inlinedeplist'><ul>
{{#daybuttons}}
<li><form action='{{actionurl}}' method='post'>
    <input type='hidden' name='day' value='{{day}}' />
    <input type='hidden' name='month' value='{{month}}' />
    <input type='hidden' name='year' value='{{year}}' />
    <input type='submit' value='{{name}}' style='font-size:x-large;' />
</form></li>
{{/daybuttons}}
</ul></div>
<hr />
