<form action='{{actionurl}}' method='post'>
    <input type='hidden' name='action' value='deletemanual' />
    <input type='hidden' name='orderid' value='{{orderid}}' />
    <input type='submit' value='Delete Manual Order' style='{{buttonstyle}}' /><br />
    I really want to delete this! <input type='checkbox' name='sure' value='1' />
</form>
