<br />
<h1>Bookings from: {{station}}</h1>
<div class='railticket_trainbookings'>
<table border='1' class='railticket_admintable' >
    <tr>
        <th>Order</th>
        <th>Name</th>
        <th>To</th>
        <th>Seats</th>
        <th>Wheel<br />chair</th>
        <th>Bays</th>
        <th>Shop<br />Items</th>
        <th>Discount</th>
        <th>Collected</th>
    </tr>
    {{#bookings}}
    <tr>
        <td>
            {{#incart}}In Cart{{/incart}}
            {{#orderid}}
            <form action='{{actionurl}}' method='post'>
                <input type='hidden' name='action' value='showorder' />
                <input type='hidden' name='orderid' value='{{orderid}}' />
                <input type='submit' value='{{orderid}}' style='width:100%;margin-top:4px;margin-bottom:4px;' />
            </form>
            {{/orderid}}
        </td>
        <td>{{ordername}}</td>
        <td>{{to}}</td>
        <td>{{seats}}</td>
        <td>{{{priority}}}</td>
        <td>{{{bays}}}</td>
        <td>{{{otheritems}}}</td>
        <td>{{hasdiscount}}</td>
        <td>{{iscollectedstr}}{{#iscollected}}{{>collectedbutton}}{{/iscollected}}</td>
    </tr>
    {{/bookings}}
</table>
</div>
