<form method='post' action='{{actionurl}}'>
    <input type='hidden' name='action' value='showdep' />
    <input type='hidden' name='dateofjourney' value='{{dateofjourney}}' />
    <input type='hidden' name='station' value='{{station}}' />
    <input type='hidden' name='deptime' value='{{timekey}}' />
    <input type='hidden' name='direction' value='{{direction}}' />
    <input type='hidden' name='ttrevision' value='{{ttrevison}}' />
    <input type='submit' name='submit' value='{{btnlabel}}' />
</form>
