<script id="movebooking_tmpl" type="x-tmpl-mustache">
<form action='{{actionurl}}' method='post' name='movebooking'>
<table border='1' class='railticket_admintable' style='width:100%;'>
    <tr>
        <th>Date</th>
        <td><input type='date' value='{{date}}' name='dateoftravel' class='railticket_refeshdata' /></td>
        <td colspan='2'><div id='railticket_bkerror' class='railticket_error'></div></td>
    </tr>
    <tr>
        <th></th>
        <th>From</th>
        <th>To</th>
        <th>Departure</th>
    </tr>
    {{#bookings}}
    <tr>
        <th>Trip {{legnum}}</th>
        <td><select name='fromstation{{legnum}}' class='railticket_refeshdata'>
        {{#fromstns}}
            <option value='{{stnid}}' {{selected}}>{{name}}</option>
        {{/fromstns}}
        </select></td>
        <td><select name='tostation{{legnum}}' class='railticket_refeshdata'>
        {{#tostns}}
            <option value='{{stnid}}' {{selected}}>{{name}}</option>
        {{/tostns}}
        </select></td>
        <td><select name='dep{{legnum}}' id='dep{{legnum}}' class='railticket_depchange'>
        {{#deps}}
            <option value='{{key}}-{{#stopsat}}{{key}}{{/stopsat}}' {{selected}} {{disabled}}>{{formatted}} - {{seats}} Seats (arr: {{#stopsat}}{{formatted}}{{/stopsat}})</option>
        {{/deps}}
        </select></td>
    </tr>
    {{/bookings}}
    <tr>
        <td colspan='2'><div id='railticket_commitmessage' style='font-weight:bold;font-size:large;color:blue;text-align:center;'></div></td>
        <td colspan='2' style='text-align:right;padding-top:10px;'>
            {{#reverse}}<input type='button' name='commit' id='railticket_reverse' value='Reverse Booking' />&nbsp;{{/reverse}}
            <input type='button' name='commit' id='railticket_commit' value='Commit Changes' /><br />
            <input type='checkbox' name='notify' {{notify}} />Send email confirmation to customer
        </td>
    </tr>
</table>
</form>
</script>


<script id="overridebays_tmpl" type="x-tmpl-mustache">
<form action='{{actionurl}}' method='post' name='bayeditor'>
<table border='1' class='railticket_admintable' style='width:100%;'>
    {{#bookings}}
    <tr>
        <th>Trip {{legnum}}</th>
        {{#bays}}
        <td><input name='leg|{{legnum}}|{{key}}' type='number' value='{{num}}' max='{{total}}' min='0' size='3'/>&nbsp;{{formatted}}</td>
        {{/bays}}
    </tr>
    {{/bookings}}
    <tr>
        <th colspan='2'>Requested Seats</th>
        <td><input type='number' name='seats' value='{{seats}}' min='0' max='99' size='3' /></td>
    </tr><tr>
        <td colspan='2'><div id='railticket_commitovermessage' style='font-weight:bold;font-size:large;color:blue;text-align:center;'></div></td>
        <td colspan='2' style='text-align:right;padding-top:10px;'>
            <input type='button' name='commit' id='railticket_commitover' value='Commit Changes' /><br />
            <input type='checkbox' name='notifyover' {{notify}} />Send email confirmation to customer
        </td>
    </tr>
</table>
</form>
</script>
