<h1>Manage Specials</h1>
<br />
<form method='post' action='{{{actionurl}}}'>
    <input type='hidden' name='action' value='showyearspecials' />    
    <table><tr>
        <th>Year</th>
        <td>{{{years}}}</td>
        <td><input type='submit' value='Show Specials' /></td>
    </tr></table>
</form>
<br />

<table border='1' class='railticket_admintable'>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>On Sale</th>
        <th></th>
    </tr>
    {{#specials}}
    <tr>
        <td style='text-align:center;'>{{date}}</td>
        <td style='text-align:center;'>{{name}}</td>
        <td style='text-align:center;'>{{fromstation}}</td>
        <td style='text-align:center;'>{{tostation}}</td>
        <td style='text-align:center;'>{{onsale}}</td>
        <td><a href=''>Edit</a>
    </tr>
    {{/specials}}
</table>
