<script id="stationchoice_tmpl" type="x-tmpl-mustache">
<h3>Choose Station</h3>
<p class='railticket_help'>Tap or click the station you wish to START your journey from.</p>
<div class='railticket_container'>
    <h4 style='{{noptitle}}'>Principal Stations</h4>
    <ul>
    {{#mainstns}}
        <li>
            <input type='radio' name='fromstation' id='fromstation{{stnid}}' value='{{stnid}}'
                class='railticket_fromstation ' {{closed}}/>
            <label for='fromstation{{stnid}}'>
            {{name}}<br />
            <div class='railticket_stndesc'>{{description}}</div>
            </label>
        </li>
    {{/mainstns}}
    </ul>
</div>
<div class='railticket_container'>
    <h4 style='{{nootitle}}'>Other Stations</h4>
    <div class='railticket_listselect_left'>
        <div class='inner'>
            {{#otherstnsleft}}
            <li>
                <input type='radio' name='fromstation' id='fromstation{{stnid}}' value='{{stnid}}'
                    class='railticket_fromstation' {{closed}}/>
                <label for='fromstation{{stnid}}'>
                <span class='railticket_otherstation'>{{name}}</span><br />
                <span class='railticket_stndesc'>{{description}}</span>
                </label>
            </li>
            {{/otherstnsleft}} 
        </div>
    </div>
    <div class='railticket_listselect_right'>
        <div class='inner'>
            {{#otherstnsright}}
            <li>
                <input type='radio' name='fromstation' id='fromstation{{stnid}}' value='{{stnid}}'
                    class='railticket_fromstation' {{closed}}/>
                <label for='fromstation{{stnid}}'>
                <span class='railticket_otherstation'>{{name}}</span><br />
                <span class='railticket_stndesc'>{{description}}</span>
                </label>
            </li>
            {{/otherstnsright}} 
        </div>
    </div>
</div>
</script>

<script id="specials_tmpl" type="x-tmpl-mustache">
<div class='railticket_container'>
<h3>Or choose one of today's specials</h3>
    <ul>
    {{#specials}}
        <li>
            <input type='radio' name='specials' id='special{{id}}' value='{{id}}'
                class='railticket_specials {{classes}}' {{disabled}}/>
            <label for='special{{id}}'>
            {{name}}<br />
            <div class='railticket_arrtime'>{{seatsleftstr}}</div>
            <div class='railticket_stndesc'>{{description}}</div>
            </label>
        </li>
    {{/specials}}
    </ul>
</div>
</script>

<script id="journeychoice_tmpl" type="x-tmpl-mustache">
<div class='railticket_container'>
<h3>Choose Journey</h3>
<p class='railticket_help'>Choose your journey by tapping or clicking on the options below.</p>

<h4 style='{{noptitle}}'>Popular Choices</h4>
{{#popular}}
    <input type='radio' name='journeychoice' id='journeychoice{{code}}' value='{{code}}'
        class='railticket_journeychoice ' {{disabled}} />
    <label for='journeychoice{{code}}'>
    {{journeydesc}}<br />
    <div class='railticket_stndesc'>{{extradesc}}</div>
    </label>
{{/popular}}

<hr style='{{nootitle}}' />
<h4 style='{{nootitle}}'>Other Choices</h4>
<div class='railticket_listselect_left'>
    <div class='inner'>
    {{#otherleft}}
        <input type='radio' name='journeychoice' id='journeychoice{{code}}' value='{{code}}'
            class='railticket_journeychoice ' {{disabled}} />
        <label for='journeychoice{{code}}'>
        <span class='railticket_otherstation'>{{journeydesc}}</span><br />
        <div class='railticket_stndesc'>{{extradesc}}</div>
        </label>
    {{/otherleft}}
    </div>
</div>
<div class='railticket_listselect_right'>
    <div class='inner'>
    {{#otherright}}
        <input type='radio' name='journeychoice' id='journeychoice{{code}}' value='{{code}}'
            class='railticket_journeychoice ' {{disabled}} />
        <label for='journeychoice{{code}}'>
        <span class='railticket_otherstation'>{{journeydesc}}</span><br />
        <div class='railticket_stndesc'>{{extradesc}}</div>
        </label>
    {{/otherright}}
    </div>
</div>
</div>
</script>

<script id="depchoice_tmpl" type="x-tmpl-mustache">
<table class='railticket_times_table'><tr>
{{#legs}}
   <td>{{{.}}}</td>
{{/legs}}
</tr></table>
</script>

<script id="deplist_tmpl" type="x-tmpl-mustache">
<h3>{{header}}</h3>
<ul>
{{#times}}
<li id='lidep_{{leg}}_{{index}}' title='{{title}}'>
    <input type='radio' name='dep_{{leg}}' id='dep_{{leg}}_{{index}}'
        value='{{index}}' {{checked}} {{disabled}} class='railticket_dep_{{leg}}' />
        <label  class='{{classes}}' for='dep_{{leg}}_{{index}}'>{{formatted}}
    <div class='railticket_arrtime'>{{arr}}{{sep}}{{seatsleftstr}}</div></label>
</li>
{{/times}}
</ul>
</script>

<script id="travellers_tmpl" type="x-tmpl-mustache">
{{#travellers}}
<div class='railticket_travellers'>
    <div class='railticket_travellers_numbers woocommerce'><div class='quantity'>
        <input type='number' id='q_{{code}}' name='q_{{code}}'
            class='input-text qty text' min='0' max='{{max}}' value='{{value}}' oninput='travellersChanged()'>
        <label for='q_{{code}}'>{{name}}</label>
        <span>{{description}}</span>
    </div></div>
</div>
{{/travellers}}
</script>

<script id="tickets_tmpl" type="x-tmpl-mustache">
<div class='railticket_travellers_table_container'>
    <h4>My Tickets</h4>
    {{{minstr}}}
    <table class='railticket_travellers_table'>
    {{#allocated}}
        <tr>
            <td><span>{{num}}&nbsp;x</span></td>
            <td><span>{{{name}}}</span><br />{{{description}}}</td>
            <td><span>{{price}}</span></td>
            <td><img src="{{image}}" class="railticket_image" /></td>
        </tr>
    {{/allocated}}
        <tr style='{{hidemin}}'>
            <td><span>&nbsp</span></td>
            <td><span>Minimum price supplement</td>
            <td><span>{{supplement}}</span></td>
            <td></td>
        </tr>
        <tr><td></td><td><span>Total</span></td><td><span>{{total}}</span></td><td></td></tr>
    </table></div>
</script>

<script id="bays_tmpl" type="x-tmpl-mustache">
<div class='railticket_travellers_table_container' >
{{message}}<br />
<table class='railticket_travellers_table'>
{{#legs}}
    <tr>
        <td>{{name}}</td>
        <td>
        {{#bays}}{{.}}<br />{{/bays}}
        </td>
    </tr>
{{/legs}}
</table>
<div class='railticketwarn' style='{{hidewarning}}'>{{warning}}</div>
</div>
<div style='{{hidedisabledrequest}}' class='railticket_travellers_table_container'>{{disabledrequest}}</div>
</div>
</script>
