<hr />
<h1>Service Summaries</h1>
<div class='railticket_editdate'>
<form method='post' action='{{actionurl}}'>
    <input type='hidden' name='action' value='filterbookings' />
    <table><tr>
        <td>Day</td>
        <td>Month</td>
        <td>Year</td>
    </tr><tr>
        <td>{{{chosenday}}}</td>
        <td>{{{chosenmonth}}}</td>
        <td>{{{chosenyear}}}</td>
    </tr><tr>
        <td colspan='3'><input type='submit' value='Show Departures' style='width:100%' /></td>
    </tr></table>
</form>
</div><br />
<hr />
