<script id="serviceparams_tmpl" type="x-tmpl-mustache">
<h2>Service Parameters</h2>

<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;'>
    <tr>
        <td>Day Type</td>
        <td><select name='sp_daytype' class='railticket_sp_opt' id='daytypesel'>
            {{#daytypes}}<option value='{{value}}' {{selected}}>{{name}}</option>{{/daytypes}}
        </select></td>
    </tr><tr>
        <td>Allocate By</td>
        <td><select name='sp_allocateby' class='railticket_sp_opt' id='allocatebysel'>
            {{#allocateby}}<option value='{{value}}' {{selected}}>{{name}}</option>{{/allocateby}}
        </select></td>
    </tr>
</table>

</script>

<script id="coachsets_tmpl" type="x-tmpl-mustache">
<h3>Coach Set(s)<h3>
<p>Note, if you change the timetable or timetable revision with a "per train" day type, please save and reload the page before editing the coach sets.</p>
<p>Simple day types only have one coach set for all services, per train days must have 2 coachsets or more, allocated to specific departures.</p>
<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;'>
    <tr><td colspan='3' style='background:blue;height:2px;'></td></tr>
{{#sets}}
    <tr>
        <th style='background:#eeeeee;'>Set {{disp}}</th>
        <td>
            <table style='width:100%'>
            {{#selectedcoaches}}<tr>
                <td style='width:20px'>
                    <input type='number' min='0' size='5' value='{{count}}' class='coachcount' id='coachcount_{{num}}_{{code}}'/>
                </td>
                <td style='width:70px'><img src='{{img}}' width='70px' /></td>
                <td>{{name}}</td>
            </tr>{{/selectedcoaches}}
            <tr>
                <td style='border-top:1px solid black;'>Reserve</td>
                <td colspan='2' style='border-top:1px solid black;'><ol style='list-style:none'>
                    {{#reserve}}
                        <li><input type='number' min='0' max='{{max}}' size='5' value='{{value}}' class='reserveselect' id='reserveselect-{{num}}-{{key}}'/> {{{desc}}}</li>
                    {{/reserve}}
                </ol></td>
            </tr>
            </table>
        </td>
        <td>
            <div style='text-align:center'><img src='{{defaultcoachimg}}' id='addcoachimg_{{num}}' width='240px' /></div><br />
            <select name='coaches{{num}}' id='coaches_{{num}}' style='width:160px;vertical-align:top;' class='addcoachsel'>{{#avcoaches}}
                <option value='{{key}}_{{num}}'>{{name}}</option>
            {{/avcoaches}}</select>
            <input type='button' value='Add Coach' id='addcoach_{{num}}' class='addcoachbtn' /><br /><br />
            <input type='button' value='Delete Set' id='deleteset_{{num}}' class='deleteset' {{disabled}} />
            <table style='width:100%'>
            <tr>
                <td style='border-top:1px solid black;vertical-align:top'>Totals</td>
                <td style='border-top:1px solid black;'><ol style='margin-left:4px;list-style:none;margin-top:0px;'>
                    {{#bays}}
                        <li style='margin-left:0px;'>{{{.}}}</li>
                    {{/bays}}
                </ol></td>
            </tr><tr>
               <td>Seats</td><td>{{seats}}</td>
               <td style='{{style}}'>Max Seats</td><td style='{{style}}'>{{maxseats}}</td>
            </tr><tr>
               <td style='{{style}}'>Wheelchair Spaces</td><td style='{{style}}'>{{priority}}</td>
            <tr>
            </table>
        </td>
    </tr><tr>
        <td colspan='3' style='background:blue;height:2px;'></td>
    </tr>
{{/sets}}
    <tr>
        <td colspan='3' style='padding-top:8px;padding-bottom:9px;text-align:right;'><input type='button' value='Add New Coach Set' id='addsetbtn' /></td>
    </tr>
</table>
<br />
</script>

<script id="depallocation_tmpl" type="x-tmpl-mustache">
<h3>Coach Set Departure Allocations</h3>
<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;text-align:center'>
    <tr><th>Up Deps</th><th>Coach Set</th><td style='width:10px;background:blue;'></td><th>Down Deps</th><th>Coach Set</th></tr>
    {{#alldeps}}
    <tr>
        <td>{{downtime}}</td>
        <td>
            <select name='down_dep_{{downkey}}' id='down_dep_{{downkey}}' class='railticketdep' />
            {{#sets}}
                <option value='{{value}}'>{{name}}</option>
            {{/sets}}
            </select>
        </td>
        <td style='width:10px;background:blue;'></td>
        <td>{{uptime}}</td>
        <td>
            <select name='up_dep_{{upkey}}' id='up_dep_{{upkey}}' class='railticketdep' />
            {{#sets}}
                <option value='{{value}}'>{{name}}</option>
            {{/sets}}
            </select>
        </td>
    </tr>
    {{/alldeps}}
</table>

<div id='specials' style='{{specialhidden}}'>
<h3>Coach Set Allocations for Specials</h3>
<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;text-align:center'>
    <tr><th>Special</th><th>Coach Set</th></tr>
    {{#specials}}
    <tr>
        <td>{{name}}</td>
        <td>
            <select name='specials_dep_{{id}}' id='specials_dep_{{id}}' class='railticketdep' />
            {{#sets}}
                <option value='{{value}}'>{{name}}</option>
            {{/sets}}
            </select>
        </td>
    </tr>
    {{/specials}}
</table>
</div>
</script>

<script id="servicedata_tmpl" type="x-tmpl-mustache">
<p><input type='button' id='showserviceparams' value='Show service parameter data' /></p>
<div id='railticket_serviceparameters' style='display:none'>
<h2>Service Parameter Data (don't edit unless you really know what you are doing)</h2>
<p><textarea name='composition' rows='10' cols='60' id='servicecomp' disabled>{{composition}}</textarea></p>
<div id='serviceparseerror' style='display:none;'></div>
<input type='button' id='setserviceparams' value='Set Service Parameters' /> 
</div>
</script>

