<script id="serviceparams_tmpl" type="x-tmpl-mustache">
<h2>Service Parameters</h2>

<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;'>
    <tr>
        <td>Day Type</td>
        <td><select name='sp_daytype' class='tailticket_sp_opt'>
            {{#daytypes}}<option value='{{.}}' {{selected}}>{{name}}</option>{{/daytypes}}
        </select></td>
    </tr><tr>
        <td>Allocate By</td>
        <td><select name='sp_allocateby' class='tailticket_sp_opt'>
            {{#allocateby}}<option value='{{.}}' {{selected}}>{{name}}</option>{{/allocateby}}
        </select></td>
    </tr>
</table>

</script>

<script id="coachsets_tmpl" type="x-tmpl-mustache">
<h3>Coach Set(s)<h3>
<table border='1' style='border-collapse:collapse;background:#ffffff;font-size:large;'>
{{#sets}}
    <tr>
        <th>Set {{disp}}</th>
        <td>
            <table style='width:100%'>{{#selectedcoaches}}<tr>
                <td style='width:20px'>{{count}}x</td><td>{{name}}</td>
                <td style='width:70px'><img src='{{img}}' width='70px' /></td>
                <td style='text-align:right;width:140px;'>
                    <input type='button' value='-' id='decrement_{{code}}' class='decrementcoach' /><input type='button' value='+' id='increment_{{code}}' class='incrementcoach' />
                </td>
            </tr>{{/selectedcoaches}}</table>
        </td>
        <td>
            <select name='coaches{{num}}' style='width:160px;vertical-align:top;' class='addcoachsel'>{{#avcoaches}}
                <option value='{{key}}_{{num}}'>{{name}}</option>
            {{/avcoaches}}</select>
            <input type='button' value='Add Coach' id='addcoach_{{num}}' class='addcoachbtn' /><br /><br />
            <div style='text-align:center'><img src='{{defaultcoachimg}}' id='addcoachimg_{{num}}' width='240px' /></div><br /><br />
            <input type='button' value='Delete Set' id='deleteset_{{num}}' class='deleteset' {{disabled}} />
        </td>
    </tr>
{{/sets}}
</table>
<br />
<input type='button' value='Add New Set' id='addsetbtn' />
</script>

<script id="trainallocations_tmpl" type="x-tmpl-mustache">
<h4>Train allocations</h4>

</script>
