<div class='railticket_editdate' style='max-width:550px;margin-left:0px;margin-right:auto;'>
    <table border='1' class='railticket_admintable' style='width:100%;'>
    {{# details }}
        <tr><th width='30%'>{{item}}</th><td class='railticket_meta'>{{{value}}}</td></tr>
    {{/ details }}
    </table>

    <div style='{{otheritemsstyle}}'>
    <h2>{{otheritemsstr}}</h2>
    <table border='1' class='railticket_admintable' style='width:100%;'>
    {{# otheritems }}
        <tr><th width='30%'>{{qty}} x</th><td class='railticket_meta'>{{{name}}}</td></tr>
    {{/ otheritems }}
    </table>
    </div>

    {{# bookings }}
        <h2>{{title}}</h2>
        <table border='1'  class='railticket_admintable' style='width:100%;'>
            <tr><th width='30%'>{{tripstr}}</th><td class='railticket_meta'>{{stns}}</td></tr>
            <tr><th>{{timestr}}</th><td class='railticket_meta'>{{deptime}}</td></tr>
            <tr><th>{{baystr}}</th><td class='railticket_meta'>{{bays}}</td></tr>
            <tr><th>{{collectedstr}}</th><td class='railticket_meta'>{{collected}}</td></tr>
        </table>
        <p><form action='{{actionurl}}' method='post'>
            <input type='hidden' name='action' value='{{action}}' />
            <input type='hidden' name='orderid' value='{{orderid}}' />
            <input type='hidden' name='bookingid' value='{{bookingid}}' />
            <input type='submit' value='{{actionstr}}' />
        </form></p>
    {{/ bookings }}

    <br /><br />

    {{# bookings }}
    <p>{{> depbutton }}</p>
    {{/ bookings }}
    <p>{{> back_to_services }}</p>
    {{{extrabuttons}}}
</div>
