<h1>Download Order Stats</h1>

<form action='{{adminurl}}' method='post'>
<input type='hidden' name='action' value='railticketstats.csv' />
<table>
    <tr><td>Start date</td><td><input type='date' name='start' required /></td></tr>
    <tr><td>End date</td><td><input type='date' name='end' required /></td></tr>
    <tr><td></td><td><input type='submit' value='Download' /></td></tr>
</table></form> 

<h1>Download Geographic Stats</h1>
<p>Note, currently processed UK postcodes only.</p>
<form action='{{adminurl}}' method='post'>
<input type='hidden' name='action' value='railticketgeo.csv' />
<table>
    <tr><td>Start date</td><td><input type='date' name='start' required /></td></tr>
    <tr><td>End date</td><td><input type='date' name='end' required /></td></tr>
    <tr><td>Consolidation Type</td><td>
        <select name='consolidation'>
            <option value='zone'>Postcode Zone</option>
            <option value='first'>Postcode First Part</option>
            <option value='full'>Full Postcode</option>
        </select>
    </td></tr>
    <tr><td></td><td><input type='submit' value='Download' /></td></tr>
</table></form> 

<h2>Manual Stats Process Run</h2>
<p>Manually run the stats processor. Do this if Stats processing has "gotten behind" for some reason and dates are missing from the stats table.
Not normally needed if things are behaving. This places a heavy load on the system, so it is reccomended to limit the number
of days processed at once.</p>
<form action='{{actionurl}}' method='post'>
    <input type='hidden' name='action' value='statsprocess' />
    Max days to process: <input type='number' value='5' name='maxdays' min='1' max='30' size='2' required />
    <input type='submit' value='Run Stats processor' />
</form>
