{{{javascript}}}
<div id="pleasewait" class="railticket_loading"></div>
{{{datepick}}}
<form action="post" name="railticketbooking" autocomplete="off">

<div id='stations' class='railticket_stageblock railticket_listselect'>
    <div class='railticket_container' id='fromstations_container'></div>
    <div class='railticket_container' id='railticket_specials'></div>
</div>

<div id='journeychoice' class='railticket_stageblock railticket_listselect'>
    <div class='railticket_container' id='journeychoice_container'></div>
</div>


<div id='deptimes' class='railticket_stageblock railticket_listselect'>
    <div class='railticket_container'>
        <h3>Choose a Departure</h3>
        <p class='railticket_help'>
        Tap or click the train times to select. Times shown with a paler background and a strikethrough should have
        departed if trains are running on time, but can still be booked if you are certain the train is simply running late.
        Some seating capacity is held back and released around 9am each morning.
        </p>
    </div>
    <div id='deptimes_data' class='railticket_container'></div>
</div>


<div id='tickets' class='railticket_stageblock'>
    <h3>Choose Tickets</h3>
    <div class='railicket_selected_service' id='railticket_summary_service'></div>
    <p class='railticket_help'>Use the boxes on the left to enter the number of tickets required.<br />
    If you have a discount code, please enter it first in the box below and click apply to validate it.</p>
    <div id='ticket_discountcode' class='railticket_container railticket_travellers'>
        <div class='railticket_travellers_numbers'><div class='quantity'>
            <div style='{{hideguardd}}'>
                <label for='guarddiscount'><span>Choose Discount </span></label><select id='guarddiscount' name='guarddiscount'>
                <option value='' selected></option>
            {{#guarddiscounts}}
                <option value='{{code}}'>{{name}}</option>
            {{/guarddiscounts}}
            </select></div>
            <input type='text' name='discountcode' value='' size='12' id='discountcode' autocomplete="off" autocorrect="off" autocapitalize="none" />
            <label for='discountcode'><span>
                <input type='button' name='applydiscount' id='applydiscount_button' value='Apply Discount Code'/>
            </span></label>
            <div id='discountvalid'></div>
        </div></div>
    </div>
    <div id='ticket_travellers' class='railticket_container'></div>
    <div id='ticket_summary' class='railticket_container'></div>
    <div id='ticket_capbutton' class='railticket_container'>
         <table class='ticket_opts_table'>
         {{#ticket_opts}}
             <tr><td class='railticket_terms'><input type='checkbox' name='{{name}}' id='{{{name}}}' /></td><td class='railticket_terms'>{{title}}</td></tr>
         {{/ticket_opts}}
         </table>
        <input type='button' value='Confirm Choices' id='confirmchoices' />
    </div>
    <div id='ticket_capacity' class='railticket_container'></div>
</div>


<div id='addtocart' class='railticket_stageblock'>
    <input type='hidden' name='ticketselections' />
    <input type='hidden' name='ticketallocations' />
    <div class='railticket_container'>
        {{#fields}}
            <p><label for='{{name}}'>{{title}}</label><br />
            <textarea id='{{name}}' cols='{{cols}}' rows='{{rows}}' name='{{name}}'></textarea></p>
        {{/fields}}

        <div class='ticket_opts_table' style='{{hideterms}}'>
            <p class='railticket_terms'><input type='checkbox' name='terms' id='termsinput'/>
                &nbsp;&nbsp;&nbsp;I agree to the ticket sales terms and conditions.</p>
            <p><a href='{{termspage}}' target='_blank'>Click here to view terms and conditions in a new tab.</a></p>
        </div>

        {{{terms}}}
        <div id='addticketstocart'>
        <p class='railticket_terms'>{{{comment}}}</p>
        {{#buttons}}
            <p><input type='button' value='{{value}}' id='{{id}}' /></p>
        {{/buttons}}
        </div>
        <div id='railticket_processing' class='railticket_processing'>
            <p>Processing - Please wait</p>
        </div>
    </div>
</div>
</form>
<div id="railticket_error" class="railticket_stageblock" ></div>
